<!DOCTYPE html>
<html lang="en" class="scroll_content">

<head>
	<title>Home</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="referrer" content="no-referrer" />
	<meta name="keywords" content="kkslide" />
	<!-- <script
		type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script> -->
		<link rel="shortcut icon" href="css/icon.png">
	<!-- bootstrap-css -->
	<link href="css/bootstrap.min.css" rel="stylesheet" type="text/css" media="all" />
	<!--// bootstrap-css -->
	<!-- css -->
	<link rel="stylesheet" href="css/style.css" type="text/css" media="all" />
	<!--// css -->
	<!-- vlog -->
	<link type="text/css" rel="stylesheet" href="css/cm-overlay.css" />
	<!-- //vlog -->
	<!-- font-awesome icons -->
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<!-- //font-awesome icons -->
	<link rel="stylesheet" href="css/loading.css">
	<!-- font -->
	<!-- //fonts.lug.ustc.edu.cn/ -->
	<!-- <link href="http://fonts.lug.ustc.edu.cn/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
	 rel="stylesheet">
	<link href="http://fonts.lug.ustc.edu.cn/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i" rel="stylesheet"> -->
	<!-- //font -->


</head>

<body style="overflow:hidden;">
	<div id="loading">
		<div class="preloader" style="opacity: 1; ">
			<svg version="1.1" id="sun" x="0px" y="0px" width="10px" height="10px" viewBox="0 0 10 10"
				enable-background="new 0 0 10 10" xml:space="preserve"
				style="opacity: 1; margin-left: 0px; margin-top: 0px;">
				<g>
					<path fill="none"
						d="M6.942,3.876c-0.4-0.692-1.146-1.123-1.946-1.123c-0.392,0-0.779,0.104-1.121,0.301c-1.072,0.619-1.44,1.994-0.821,3.067C3.454,6.815,4.2,7.245,5,7.245c0.392,0,0.779-0.104,1.121-0.301C6.64,6.644,7.013,6.159,7.167,5.581C7.321,5,7.243,4.396,6.942,3.876z M6.88,5.505C6.745,6.007,6.423,6.427,5.973,6.688C5.676,6.858,5.34,6.948,5,6.948c-0.695,0-1.343-0.373-1.69-0.975C2.774,5.043,3.093,3.849,4.024,3.312C4.32,3.14,4.656,3.05,4.996,3.05c0.695,0,1.342,0.374,1.69,0.975C6.946,4.476,7.015,5,6.88,5.505z">
					</path>
					<path fill="none"
						d="M8.759,2.828C8.718,2.757,8.626,2.732,8.556,2.774L7.345,3.473c-0.07,0.041-0.094,0.132-0.053,0.202C7.319,3.723,7.368,3.75,7.419,3.75c0.025,0,0.053-0.007,0.074-0.02l1.211-0.699C8.774,2.989,8.8,2.899,8.759,2.828z">
					</path>
					<path fill="none"
						d="M1.238,7.171c0.027,0.047,0.077,0.074,0.128,0.074c0.025,0,0.051-0.008,0.074-0.02l1.211-0.699c0.071-0.041,0.095-0.133,0.054-0.203S2.574,6.228,2.503,6.269l-1.21,0.699C1.221,7.009,1.197,7.101,1.238,7.171z">
					</path>
					<path fill="none"
						d="M6.396,2.726c0.052,0,0.102-0.026,0.13-0.075l0.349-0.605C6.915,1.976,6.89,1.885,6.819,1.844c-0.07-0.042-0.162-0.017-0.202,0.054L6.269,2.503C6.228,2.574,6.251,2.666,6.322,2.706C6.346,2.719,6.371,2.726,6.396,2.726z">
					</path>
					<path fill="none"
						d="M3.472,7.347L3.123,7.952c-0.041,0.07-0.017,0.162,0.054,0.203C3.2,8.169,3.226,8.175,3.25,8.175c0.052,0,0.102-0.027,0.129-0.074l0.349-0.605c0.041-0.07,0.017-0.16-0.054-0.203C3.603,7.251,3.513,7.276,3.472,7.347z">
					</path>
					<path fill="none"
						d="M3.601,2.726c0.025,0,0.051-0.007,0.074-0.02C3.746,2.666,3.77,2.574,3.729,2.503l-0.35-0.604C3.338,1.828,3.248,1.804,3.177,1.844C3.106,1.886,3.082,1.976,3.123,2.047l0.35,0.604C3.5,2.7,3.549,2.726,3.601,2.726z">
					</path>
					<path fill="none"
						d="M6.321,7.292c-0.07,0.043-0.094,0.133-0.054,0.203l0.351,0.605c0.026,0.047,0.076,0.074,0.127,0.074c0.025,0,0.051-0.006,0.074-0.02c0.072-0.041,0.096-0.133,0.055-0.203l-0.35-0.605C6.483,7.276,6.393,7.253,6.321,7.292z">
					</path>
					<path fill="none"
						d="M2.202,5.146c0.082,0,0.149-0.065,0.149-0.147S2.284,4.851,2.202,4.851H1.503c-0.082,0-0.148,0.066-0.148,0.148s0.066,0.147,0.148,0.147H2.202z">
					</path>
					<path fill="none"
						d="M8.493,4.851H7.794c-0.082,0-0.148,0.066-0.148,0.148s0.066,0.147,0.148,0.147l0,0h0.699c0.082,0,0.148-0.065,0.148-0.147S8.575,4.851,8.493,4.851L8.493,4.851z">
					</path>
					<path fill="none"
						d="M5.146,2.203V0.805c0-0.082-0.066-0.148-0.148-0.148c-0.082,0-0.148,0.066-0.148,0.148v1.398c0,0.082,0.066,0.149,0.148,0.149C5.08,2.352,5.146,2.285,5.146,2.203z">
					</path>
					<path fill="none"
						d="M4.85,7.796v1.396c0,0.082,0.066,0.15,0.148,0.15c0.082,0,0.148-0.068,0.148-0.15V7.796c0-0.082-0.066-0.148-0.148-0.148C4.917,7.647,4.85,7.714,4.85,7.796z">
					</path>
					<path fill="none"
						d="M2.651,3.473L1.44,2.774C1.369,2.732,1.279,2.757,1.238,2.828C1.197,2.899,1.221,2.989,1.292,3.031l1.21,0.699c0.023,0.013,0.049,0.02,0.074,0.02c0.051,0,0.101-0.026,0.129-0.075C2.747,3.604,2.722,3.514,2.651,3.473z">
					</path>
					<path fill="none"
						d="M8.704,6.968L7.493,6.269c-0.07-0.041-0.162-0.016-0.201,0.055c-0.041,0.07-0.018,0.162,0.053,0.203l1.211,0.699c0.023,0.012,0.049,0.02,0.074,0.02c0.051,0,0.102-0.027,0.129-0.074C8.8,7.101,8.776,7.009,8.704,6.968z">
					</path>
				</g>
			</svg>

			<svg version="1.1" id="cloud" x="0px" y="0px" width="10px" height="10px" viewBox="0 0 10 10"
				enable-background="new 0 0 10 10" xml:space="preserve">
				<path fill="none"
					d="M8.528,5.624H8.247c-0.085,0-0.156-0.068-0.156-0.154c0-0.694-0.563-1.257-1.257-1.257c-0.098,0-0.197,0.013-0.3,0.038C6.493,4.259,6.45,4.252,6.415,4.229C6.38,4.208,6.356,4.172,6.348,4.131C6.117,3.032,5.135,2.235,4.01,2.235c-1.252,0-2.297,0.979-2.379,2.23c-0.004,0.056-0.039,0.108-0.093,0.13C1.076,4.793,0.776,5.249,0.776,5.752c0,0.693,0.564,1.257,1.257,1.257h6.495c0.383,0,0.695-0.31,0.695-0.692S8.911,5.624,8.528,5.624z">
				</path>
			</svg>

			<div class="rain">
				<span class="drop"></span>
				<span class="drop"></span>
				<span class="drop"></span>
				<span class="drop"></span>
				<span class="drop"></span>
				<span class="drop"></span>
				<span class="drop"></span>
				<span class="drop"></span>
				<span class="drop"></span>
				<span class="drop"></span>
			</div>

			<div class="text">
				LOOKING OUTSIDE FOR YOU... ONE SEC
			</div>
		</div>
	</div>
	<!-- banner -->
	<div class="banner">
		<!-- header -->
		<div class="header">
			<div class="container">
				<nav class="navbar navbar-default">
					<!-- Brand and toggle get grouped for better mobile display -->
					<div class="navbar-header">
						<button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
							data-target="#bs-example-navbar-collapse-1">
							<span class="sr-only">Toggle navigation</span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<div class="w3layouts-logo">
							<h1><a href="javascript:;">KKSlide</a></h1>
						</div>
					</div>

					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse nav-wil" id="bs-example-navbar-collapse-1">
						<nav>
							<ul class="nav navbar-nav">
								<li class="active"><a href="index.html">Home</a></li>
								<li><a href="#hobbies" class="scroll hide">Hobby</a></li>
								<li><a href="#vlog" class="scroll">V-log</a></li>
								<li><a href="#fun_pic" class="scroll">Fun-pic</a></li>
								<li><a href="#about" class="scroll hide">About</a></li>
								<li><a href="#mail" class="scroll">Contact me</a></li>
							</ul>
						</nav>
					</div>
					<!-- /.navbar-collapse -->
				</nav>
			</div>
		</div>
		<!-- //头部 -->
		<div class="banner-top">
			<div class="container">
				<div class="slider">
					<div class="callbacks_container">
						<ul class="rslides callbacks callbacks1" id="slider4">
							<li>
								<div class="banner_text">
									<h3>Be a hero</h3>
									<p>Zero in your target,and go for it.</p>
									<div class="w3-button">
										<a href="#" data-toggle="modal" data-target="#myModal">Read More</a>
									</div>
								</div>
							</li>
							<li>
								<div class="banner_text">
									<h3>go explore</h3>
									<p>Every noble work is at first impossible.</p>
									<div class="w3-button">
										<a href="#" data-toggle="modal" data-target="#myModal">Read More</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //头部 -->

	<!-- 简介弹出层 -->
	<div class="modal about-modal fade" id="myModal" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
							aria-hidden="true">&times;</span></button>
					<h4 class="modal-title">Brand</h4>
				</div>
				<div class="modal-body">
					<div class="agileits-w3layouts-info">
						<img src="http://wx3.sinaimg.cn/large/722c1623gy1g25clr26lvj20u00gvadr.jpg" alt="" />
						<p>Duis venenatis, turpis eu bibendum porttitor, sapien quam ultricies tellus, ac rhoncus risus
							odio eget nunc.
							Pellentesque ac fermentum diam. Integer eu facilisis nunc, a iaculis felis. Pellentesque
							pellentesque tempor
							enim, in dapibus turpis porttitor quis. Suspendisse ultrices hendrerit massa. Nam id metus
							id tellus ultrices
							ullamcorper. Cras tempor massa luctus, varius lacus sit amet, blandit lorem. Duis auctor in
							tortor sed
							tristique. Proin sed finibus sem.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //简介弹出层 -->

	<!-- hobbies -->
	<div class="hobbies hide" id="hobbies">
		<div class="container">
			<div class="wthree-heading">
				<h3>My Hobbies</h3>
				<h4>H</h4>
			</div>
			<div class="hobbies-grids">
				<div class="col-md-8 wthree-hobbies-grids">
					<div class="col-md-6 w3-agileits-hobbies-grid">
						<i class="fa fa-cogs" aria-hidden="true"></i>
						<h4>Quisque a rhoncus tortor</h4>
						<p>Nam dolor arcu, interdum eget purus non, blandit accumsan justo. Duis faucibus eros dapibus
							efficitur
							volutpat.</p>
					</div>
					<div class="col-md-6 w3-agileits-hobbies-grid agile-hobbies1">
						<i class="fa fa-comments" aria-hidden="true"></i>
						<h4>Quisque a rhoncus tortor</h4>
						<p>Nam dolor arcu, interdum eget purus non, blandit accumsan justo. Duis faucibus eros dapibus
							efficitur
							volutpat.</p>
					</div>
					<div class="col-md-6 w3-agileits-hobbies-grid">
						<i class="fa fa-heart" aria-hidden="true"></i>
						<h4>Quisque a rhoncus tortor</h4>
						<p>Nam dolor arcu, interdum eget purus non, blandit accumsan justo. Duis faucibus eros dapibus
							efficitur
							volutpat.</p>
					</div>
					<div class="col-md-6 w3-agileits-hobbies-grid">
						<i class="fa fa-plane" aria-hidden="true"></i>
						<h4>Quisque a rhoncus tortor</h4>
						<p>Nam dolor arcu, interdum eget purus non, blandit accumsan justo. Duis faucibus eros dapibus
							efficitur
							volutpat.</p>
					</div>
					<div class="clearfix"> </div>
				</div>
				<div class="col-md-4 hobbies-right">
					<h5>Fusce sit amet velit tempor, egestas leo vel, scelerisque urna.</h5>
					<p>Proin at orci pellentesque, congue augue eget, tincidunt odio. Aenean commodo lectus nunc, in
						feugiat nunc
						egestas sed. Morbi at lacus maximus, aliquam metus at, laoreet nisi.
						<span>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque enim erat, pretium
							quis commodo in,
							porttitor vitae purus. Sed a sollicitudin quam. In sodales, dolor non sodales sodales, ipsum
							orci ultrices est,
							eget interdum tortor lacus in odio. Cras ut rutrum erat. Morbi dictum velit mauris, non
							pretium tellus tempor
							sit amet. Proin nec varius metus.</span>
					</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //hobbies -->

	<!-- vlog -->
	<div class="vlog" id="vlog">
		<div class="container">
			<div class="wthree-heading">
				<h3>My V-log</h3>
				<h4>V</h4>
			</div>
			<div class="bs-example bs-example-tabs" role="tabpanel" data-example-id="togglable-tabs">
				<ul id="myTab" class="nav nav-tabs" role="tablist">
					<li role="presentation" class="active"><a href="#home-main" id="home-tab" role="tab"
							data-toggle="tab" aria-controls="home" aria-expanded="true">All</a></li>
					<li role="presentation"><a href="#everyday" role="tab" id="everyday-tab" data-toggle="tab"
							aria-controls="everyday">Everyday</a></li>
					<li role="presentation"><a href="#skating" role="tab" id="skating-tab" data-toggle="tab"
							aria-controls="skating">Skating</a></li>
					<li role="presentation"><a href="#basketball" role="tab" id="basketball-tab" data-toggle="tab"
							aria-controls="basketball">BasketBall</a></li>
					<li role="presentation"><a href="#travel" role="tab" id="travel-tab" data-toggle="tab"
							aria-controls="travel">Travel</a></li>
				</ul>
				<div id="myTabContent" class="tab-content">
					<div role="tabpanel" class="tab-pane fade in active" id="home-main" aria-labelledby="all-tab">
						<div class="w3_tab_img">
							<div class="col-md-3 w3_tab_img_left">
								<div class="demo" style="background-image:url(images/0_12.jpg)"><i></i></div>
							</div>
							<div class="col-md-3 w3_tab_img_left">
								<div class="demo" style="background-image:url(http://wx1.sinaimg.cn/mw690/722c1623gy1g25d2r97gwj20sg11vjwz.jpg)"><i></i></div>
							</div>
							<div class="col-md-3 w3_tab_img_left">
								<div class="demo" style="background-image:url(http://wx4.sinaimg.cn/mw690/722c1623gy1g25d2v9imjj20hs0js74e.jpg)"><i></i></div>
							</div>
							<div class="col-md-3 w3_tab_img_left">
								<div class="demo" style="background-image:url(images/0_13.jpg)"><i></i></div>
							</div>
							<div class="col-md-3 w3_tab_img_left">
								<div class="demo" style="background-image:url(http://wx2.sinaimg.cn/mw690/722c1623gy1g25d35faltj20sg11xq5v.jpg)"><i></i></div>
							</div>
							<div class="col-md-3 w3_tab_img_left">
								<div class="demo" style="background-image:url(http://wx2.sinaimg.cn/mw690/722c1623gy1g25e2y11a1j20k00qogn8.jpg)"><i></i></div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="everyday" aria-labelledby="everyday-tab">
						<div class="w3_tab_img">
							<div class="col-md-3 w3_tab_img_left">
								<div class="demo" style="background-image:url(http://wx2.sinaimg.cn/mw690/722c1623gy1g25e2y11a1j20k00qogn8.jpg)"><i></i></div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="skating" aria-labelledby="skating-tab">
						<div class="w3_tab_img">
							<div class="col-md-3 w3_tab_img_left">
								<div class="demo" style="background-image:url(images/0_12.jpg)"><i></i></div>
							</div>
							<div class="col-md-3 w3_tab_img_left">
								<div class="demo" style="background-image:url(http://wx1.sinaimg.cn/mw690/722c1623gy1g25d2r97gwj20sg11vjwz.jpg)"><i></i></div>
							</div>
							<div class="col-md-3 w3_tab_img_left">
								<div class="demo" style="background-image:url(http://wx4.sinaimg.cn/mw690/722c1623gy1g25d2v9imjj20hs0js74e.jpg)"><i></i></div>
							</div>
							<div class="col-md-3 w3_tab_img_left">
								<div class="demo" style="background-image:url(images/0_13.jpg)"><i></i></div>
							</div>
							<div class="col-md-3 w3_tab_img_left">
								<div class="demo" style="background-image:url(http://wx2.sinaimg.cn/mw690/722c1623gy1g25d35faltj20sg11xq5v.jpg)"><i></i></div>
							</div>
							<div class="col-md-3 w3_tab_img_left">
								<div class="demo" style="background-image:url(http://wx2.sinaimg.cn/mw690/722c1623gy1g25e2y11a1j20k00qogn8.jpg)"><i></i></div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="basketball" aria-labelledby="basketball-tab">
						<div class="w3_tab_img">
							<div class="col-md-3 w3_tab_img_left">
								<div class="demo" style="background-image: url(http://wx2.sinaimg.cn/mw690/722c1623gy1g25e2tt2muj20sg0owmzo.jpg);"><i></i></div>
							</div>
							<div class="col-md-3 w3_tab_img_left">
								<div class="demo" style="background-image: url(http://wx2.sinaimg.cn/mw690/722c1623gy1g25e2y11a1j20k00qogn8.jpg);"><i></i></div>
							</div>
							<div class="col-md-3 w3_tab_img_left">
								<div class="demo" style="background-image: url(http://wx4.sinaimg.cn/mw690/722c1623gy1g25d2v9imjj20hs0js74e.jpg);"><i></i></div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
					<div role="tabpanel" class="tab-pane fade" id="travel" aria-labelledby="travel-tab">
						<div class="w3_tab_img">
							<div class="col-md-3 w3_tab_img_left">
								<div class="demo" style="background-image: url(http://wx2.sinaimg.cn/mw690/722c1623gy1g25d31iqhcj20sg0lctcc.jpg);"><i></i></div>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- //vlog -->

	<!-- fun_pic -->
	<div class="jarallax fun_pic" id="fun_pic">
		<div class="container">
			<div class="wthree-heading fun_pic-heading">
				<h3>Fun Pic</h3>
				<h4>F</h4>
			</div>
			<div class="agileits-fun_pic-grids">
				<div class="col-md-4 agileits-fun_pic-grid">
					<div class="fun_pic-info">
						<div class="fun_pic_pic" style="background-image:url(http://wx1.sinaimg.cn/mw690/722c1623gy1g25e2edw7dj20sg0lcdi6.jpg)"></div>
						<div class="fun_pic-caption hide">
							<h4>Peter Parker</h4>
							<p>Fusce laoreet</p>
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 agileits-fun_pic-grid">
					<div class="fun_pic-info">
						<div class="fun_pic_pic" style="background-image:url(http://wx3.sinaimg.cn/mw690/722c1623gy1g25e2p9qq3j20g40c03zn.jpg)"></div>
						<div class="fun_pic-caption hide">
							<h4>Peter Parker</h4>
							<p>Fusce laoreet</p>
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 agileits-fun_pic-grid">
					<div class="fun_pic-info">
						<div class="fun_pic_pic" style="background-image:url(http://wx2.sinaimg.cn/mw690/722c1623gy1g25e2tt2muj20sg0owmzo.jpg)"></div>
						<div class="fun_pic-caption hide">
							<h4>Peter Parker</h4>
							<p>Fusce laoreet</p>
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="col-md-4 agileits-fun_pic-grid">
					<div class="fun_pic-info">
						<div class="fun_pic_pic" style="background-image:url(http://wx2.sinaimg.cn/mw690/722c1623gy1g25e2y11a1j20k00qogn8.jpg)"></div>
						<div class="fun_pic-caption hide">
							<h4>Peter Parker</h4>
							<p>Fusce laoreet</p>
							<ul>
								<li><a href="#"><i class="fa fa-facebook"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter"></i></a></li>
								<li><a href="#"><i class="fa fa-rss"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- fun_pic -->

	<!-- about -->
	<div class="about hide" id="about">
		<div class="container">
			<div class="wthree-heading">
				<h2>About Me</h2>
				<h4>A</h4>
			</div>
			<div class="agileits-about-grids">
				<div class="col-md-12 agileits-about-grid">
					<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc at consequat augue. Aenean
						facilisis sapien ac
						ex</h4>
					<p>Nam imperdiet tellus nec enim tempus iaculis. Morbi vitae varius est. Morbi cursus ante non
						tortor consequat
						ullamcorper. Cras in dui libero. Sed scelerisque finibus urna vitae sodales. Nullam aliquam
						imperdiet mi, sit
						amet tempus ante scelerisque ac. Praesent vestibulum ultrices maximus. Class aptent taciti
						sociosqu ad litora
						torquent per conubia nostra, per inceptos himenaeos.</p>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
	</div>
	<!-- //about -->

	<!-- contact -->
	<div class="contact" id="mail">
		<div class="container">
			<div class="wthree-heading">
				<h3>Contact Me</h3>
				<h4>C</h4>
			</div>
			<div class="contact-form">
				<form action="#" method="post">
					<input type="text" placeholder="Name" required="">
					<input type="email" placeholder="Email" required="">
					<input type="text" placeholder="Telephone" required="">
					<textarea placeholder="Message" required></textarea>
					<input type="submit" value="SUBMIT">
				</form>
			</div>
		</div>
	</div>
	<!-- //contact -->

	<!-- map -->
	<div class="map-grid hide">
		<iframe src="" class="map" style="border:0" allowfullscreen=""></iframe>
	</div>
	<!-- //map -->

	<!-- subscribe -->
	<div class="subscribe hide">
		<div class="container">
			<div class="wthree-heading">
				<h3>Subscribe With Us</h3>
				<h4>S</h4>
			</div>
			<div class="w3-agileits-subscribe-form">
				<form action="#" method="post">
					<input type="text" placeholder="Subscribe" name="Subscribe" required="">
					<button class="btn1">Subscribe</button>
				</form>
			</div>
		</div>
	</div>
	<!-- //subscribe -->

	<footer>
		<div class="agileits-w3layouts-footer">
			<div class="container">
				<div class="col-md-4 w3-agile-grid">
					<h5>About Us</h5>
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean bibendum urna non nisi ornare,
						condimentum
						iaculis ipsum blandit. Duis auctor vulputate metus nec luctus.</p>
					<div class="agileinfo-social-grids">
						<ul>
							<li><a href="http://weibo.com/kkslide" target="_blank"><i class="fa fa-weibo"></i></a></li>
							<li><a href="https://github.com/KKslide" target="_blank"><i class="fa fa-git"></i></a></li>
							<li><a href="#"><i class="fa fa-qq"></i></a></li>
							<li><a href="#"><i class="fa fa-weixin"></i></a></li>
						</ul>
					</div>
				</div>
				<div class="col-md-4 w3-agile-grid">
					<h5>Recent Posts</h5>
					<div class="w3ls-post-grids">
						<div class="w3ls-post-grid">
							<div class="w3ls-post-img" style="background-image:url(http://wx4.sinaimg.cn/mw690/722c1623gy1g25d2v9imjj20hs0js74e.jpg)"></div>
							<div class="w3ls-post-info">
								<h6><a href="#" data-toggle="modal" data-target="#myModal">Proin scelerisque, sem a
										facilisis mollis</a></h6>
								<p>Sept 24,2017</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3ls-post-grid">
							<div class="w3ls-post-img" style="background-image:url(http://wx2.sinaimg.cn/mw690/722c1623gy1g25e2y11a1j20k00qogn8.jpg)"></div>
							<div class="w3ls-post-info">
								<h6><a href="#" data-toggle="modal" data-target="#myModal">Proin scelerisque, sem a
										facilisis mollis</a></h6>
								<p>Oct 25,2017</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3ls-post-grid">
							<div class="w3ls-post-img" style="background-image:url(images/0_14.jpg)"></div>
							<div class="w3ls-post-info">
								<h6><a href="#" data-toggle="modal" data-target="#myModal">Proin scelerisque, sem a
										facilisis mollis</a></h6>
								<p>Nov 06,2017</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<!-- ----------------------------------- -->
				<div class="col-md-4 w3-agile-grid">
					<h5>Address</h5>
					<div class="w3-address">
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-phone" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Phone Number</h6>
								<p>13143352449</p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-envelope" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Email Address</h6>
								<p>Email :<a href="mailto:rollercompanion@163.com">rollercompanion@163.com</a></p>
							</div>
							<div class="clearfix"> </div>
						</div>
						<div class="w3-address-grid">
							<div class="w3-address-left">
								<i class="fa fa-map-marker" aria-hidden="true"></i>
							</div>
							<div class="w3-address-right">
								<h6>Location</h6>
								<p>GuangZhou China, LaiFung Center, 31F, InOne media.</p>
							</div>
							<div class="clearfix"> </div>
						</div>
					</div>
				</div>
				<div class="clearfix"> </div>
			</div>
		</div>
		<div class="copyright">
			<div class="container">
				<p>Copyright &copy; 1993-2019. KKSlide Media All rights reserved. More Infomation <a href="#"
						target="_blank">Kang-Blog</a></p>
			</div>
		</div>
	</footer>


</body>

</html>
<!-- <script src="js/jquery-1.11.1.min.js"></script> -->
<script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/SmoothScroll.min.js"></script>
<script src="js/responsiveslides.min.js"></script>
<script src="js/move-top.js"></script>
<script src="js/easing.js"></script>
<script src="js/jarallax.js"></script>
<script src="js/jquery.tools.min.js"></script>
<script src="js/jquery.mobile.custom.min.js"></script>
<script src="js/jquery.cm-overlay.js"></script>
<script src="js/jquery.nicescroll.min.js"></script>
<script>
	$(function () {
		$("#slider4").responsiveSlides({
			auto: true,
			pager: false,
			nav: false,
			speed: 500,
			namespace: "callbacks"
		});
		$(".scroll").click(function (event) {
			event.preventDefault();
			$('html,body').animate({ scrollTop: $(this.hash).offset().top }, 600);
		});
		$(".scroll_content").niceScroll({cursorborder:"",cursorcolor:"rgba(0,0,0,0)",boxzoom:true});
	});
</script>
<!-- here stars scrolling icon -->
<script type="text/javascript">
	// here stars scrolling icon
	$(document).ready(function () {
		$().UItoTop({ easingType: 'easeOutQuart' });
		$('.cm-overlay').cmOverlay();
	});
	//here ends scrolling icon

	/* init Jarallax */
	$('.jarallax').jarallax({
		speed: 0.5,
		imgWidth: 1366,
		imgHeight: 768
	});

	window.onload = function () {
		console.log('ready...');
		document.querySelector("#loading").style.display = "none";
		document.body.style.overflow = "auto";
	}

</script>